* {
    font-family: Gilroy-Regular,sans-serif;
    /* border: 1px solid red; */
    margin: auto;
    max-width: 1500px;
    max-height: 100%;
}

h1 {
    text-align: center;
    font-weight: 100;
}


#nav-container {
    border-bottom: 1px solid #ccc;
    /* border-top: 1px solid #ccc; */
    color: #00325a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 42px;
}

nav {
    display: flex;
    width: 50%;
}

a {
    text-decoration: none;
}


.hero {
    background-color: #074f57;
    background-image: url('../static/img/heroimg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 400px;
    padding-bottom: 400px;
;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card img {
    max-width: 70%;
    height: auto;
}

#card-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contact-container {
    width: 80%;
    margin: 50px auto;
}

#contact-container h1 {
    margin-bottom: 10px;
}

#contact-container p {
    margin-bottom: 40px;
}

#contact-box {
    display: flex;
}

#contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

#contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #00325a;
    color: white;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#contact-left h3 {
    text-align: left;
    margin-bottom: 30px;
}

#contact-right h3 {
    text-align: left;
    margin-bottom: 30px;
}

#contact-left label {
    text-align: left;
    margin-bottom: 6px;
    display: block;
}

.input-row .input-group {
    flex-basis: 45%;
}

.input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px  solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}


