* {
    font-family: 'Playfair Display', Georgia, serif;
    border-radius: 1px solid red;
    margin: auto;
    max-width: 1200px;
}

body {
    text-align: center;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
}

.card img {
    max-width: 70%;
    height: auto;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

