<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melbourne Event Hire</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Melbourne Event Hire</h1>
    <div id="nav-container">
        <nav>
            <a href="/home">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
            <a href="/cart">Shopping Cart</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        </nav>
    </div>
        {% block body %} {% endblock %}
</body>
</html>