<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VasesForHire</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>ItemsForHire</h1>
    <header>
        <nav>
            <a href="/about">About</a>
            <a href="/gallery">Gallery</a>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            <a href="/contact">Contact</a>
            <a href="/cart">Shopping Cart</a>

        </nav>
    </header>
    {% block body %} {% endblock %}
</body>
</html>