{% extends "base.html" %}

{% block body %}

<h1>Contact Us</h1>
<div id="contact">
    <input type="text" placeholder="Name" required>
    
    <input type="text" placeholder="Email" required>
    
    <input type="number" placeholder="Phone" required>
    
    <input type="text" placeholder="Event Type" required>
    
    <input type="text" placeholder="Event Date" required>
    
    <input type="text" placeholder="Message " required>
    
    <button type="submit">Enquire</button>
</div>

{% endblock %}