{% extends "base.html" %}

{% block body %}
  <h1>Shopping Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>
            <form method="POST" action="/remove_item">
              <input type="hidden" name="item_id" value="{{ item[3] }}">
              <button type="submit">Remove</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
